.ipynb_checkpoints/
.project
.pydevproject
.pyc
.settings/
.log
__pycache__/
myenv
*.exe
*.pyc
*.BAT
*.sh
*.tiff
recorded/
.idea
build/
dist/
venv/
*.egg-info/
_build/
.ipynb_checkpoints/
multiply_array.npy
test*