.ipynb_checkpoints/
.project
.pydevproject
.pyc
.settings/
.log
__pycache__/
myenv
*.exe
*.pyc
STARTUP.BAT
*.sh
*.tiff
recorded/
.idea
dist/
venv/
*.egg-info/
_build/
.ipynb_checkpoints/
multiply_array.npy
test*
lt29059-sample.py
config_user.yml
build/
.DS_Store
